@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background: repeating-linear-gradient(
            45deg,
            #142e55 0px,
            #11284b 150px,
            #11284b 550px
    );
    font-family: 'Nunito', "Noto Sans", Tahoma, sans-serif;
    font-size: 0.9em;
    min-height: 100vh;
    margin: 0;
    padding: 0 20px;
}

.header__title {
    margin: 60px auto;
    color: white;
    text-align: center;
    text-shadow: 0 0 2px #acacac77;
    font-size: 2.6em;
}

.jobs {
    margin: 0 auto;
    max-width: 700px;
    width: 90%;
}

.it_filter {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0 auto 10px;
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    border-radius: 8px;
    color: #222;
    background-color: #F9F9F9;
    text-decoration: none;
    font-size: 1.17em;
}

.it_filter:hover {
    background-color: hsl(0, 0%, 85%);
}

.it_filter__status {
    position: absolute;
    display: inline-block;
    right: 15.5px;
    top: 16px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: hsl(0, 0%, 60%);
}

.it_filter__status.active {
    background: hsl(171, 49%, 40%);
}

.it_filter__text {
    display: block;
    text-align: left;
}

.location-menu {
    position: relative;
    margin: 0 auto 40px;
    width: 100%;
    max-width: 300px;
    font-size: 1.17em;
}

.location__select {
    height: 23px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 4px #acacac77;
    background-color: #F9F9F9;
    color: #222;
    cursor: pointer;
    border-bottom: #F9F9F9;
}

.location__select-active {
    display: inline-block;
}

.location__select-button {
    height: 23px;
    width: 15px;
    float: right;
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}

.location__select-button.open {
    transform: rotate(90deg) scaleX(-1);
    transition: transform 0.2s ease-in-out;
}

.location__options {
    top: 73px;
    position: absolute;
    width: calc(100% - 20px);
    height: 0;
    max-height: 400px;
    padding: 0 10px;
    border-radius: 8px;
    background-color: #F9F9F9;
    box-shadow: 0 0 3px #999;
    overflow-y: hidden;
    transition: padding 0.2s 0.2s, height 0.2s ease-in-out;
}

.location__options.open {
    z-index: 10;
    height: 400px;
    padding: 10px 10px;
    overflow-y: auto;
    transition: height 0.2s ease-in-out;
}

.location__options__option {
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.location__options__option:hover {
    background-color: #ebebeb;
}

.location__options__option.active {
    margin: 1px 0;
    background-color: #ebebeb;
    pointer-events: none;
}

.location__options__option__link {
    display: block;
    width: 100%;
    color: #222;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px 5px;
    margin: 25px 0 30px;
}

.nav__button {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px 0;
    border: none;
    background: transparent;
    color: white;
    text-shadow: 0 0 2px #acacac77;
    font-size: 1.25em;
    cursor: pointer;
}

.nav__button:hover {
    border-bottom: 1px solid white;
}

.nav__button.active {
    text-shadow: 0 0 2px #acacac77;
    border-bottom: 1px solid white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.job {
    width: calc(100% - 44px);
    margin: 20px auto;
    padding: 12px 22px;
    border-radius: 8px;
    box-shadow: 0 0 4px #acacac77;
    background-color: #F9F9F9;
    color: #222;
    transition: 0.2s box-shadow ease-in-out, 0.15s width ease;
}

.job:last-of-type {
    margin: 0 auto;
}

.job:hover {
    width: 89%;
    transition: 0.2s box-shadow ease-in-out, 0.15s width ease;
    box-shadow: 0 0 7px #acacac77;
}

.job__position {
    text-align: center;
    margin: 0;
    font-size: 1.08em;
    color: #404145;
}

.job__position > a {
    color: #222;
    text-decoration: none;
}

.job__position > a:hover {
    border-bottom: 1px solid black;
}

.job__info {
    text-align: center;
    justify-content: space-between;
    margin-top: 6px;
    font-size: 1.05em;
}

.job__info__company {
    color: #31373d;
    cursor: text;
}

.job__info__details {
    margin-top: 6px;
    font-size: 0.83em;
    color: #34998a;
    cursor: text;
}

.jobs__paging {
    margin: 30px 0 25px;
    padding: 15px 0;
    text-align: center;
}

.jobs__paging__page {
    display: inline-block;
    width: 40%;
    max-width: 200px;
    text-decoration: none;
    color: #EEE;
}

.jobs__paging__page:hover {
    color: #169b87;
}

.jobs__paging__page.disabled {
    color: #BBB;
    pointer-events: none;
}

.jobs__paging__page__svg {
    width: 30px;
    height: 32px;
}
