@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background: repeating-linear-gradient(
            45deg,
            #142e55 0px,
            #11284b 150px,
            #11284b 550px
    );
    font-family: 'Nunito', "Noto Sans", Tahoma, sans-serif;
    font-size: 0.9em;
    min-height: 100vh;
    margin: 0;
    padding: 0 20px;
}

.title {
    color: white;
    text-align: center;
    text-shadow: 0 0 2px #acacac77;
    font-size: 2.6em;
    padding: 20px 0 10px;
}

.jobs {
    margin: 0 auto;
    max-width: 700px;
    width: 90%;
}

.nav {
    display: flex;
    gap: 20px 5px;
}

.nav__button {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px 0;
    border: none;
    background: transparent;
    color: white;
    text-shadow: 0 0 2px #acacac77;
    font-size: 1.25em;
    cursor: pointer;
}

.nav__button:hover {
    border-bottom: 1px solid white;
}

.nav__button.active {
    text-shadow: 0 0 2px #acacac77;
    border-bottom: 1px solid white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.job {
    margin: 20px auto;
    padding: 12px 22px;
    border-radius: 8px;
    box-shadow: 0 0 4px #acacac77;
    background-color: #F9F9F9;
    color: #222;
    transition: 0.2s box-shadow ease-in-out, 0.4s padding ease, 0.4s width ease;
}

.job:last-of-type {
    margin: 0 auto;
}

.job:hover {
    padding: 10px 22px;
    width: 86%;
    transition: 0.2s box-shadow ease-in-out, 0.4s padding ease, 0.4s width ease;
    box-shadow: 0 0 7px #acacac77;
}

.job__position {
    text-align: center;
    margin: 0;
    font-size: 1.08em;
    color: #404145;
}

.job__position > a {
    color: #222;
    text-decoration: none;
}

.job__position > a:hover {
    border-bottom: 1px solid black;
}

.job__info {
    text-align: center;
    justify-content: space-between;
    margin-top: 6px;
    font-size: 1.05em;
}

.job__info__company {
    color: #31373d;
    cursor: text;
}

.job__info__details {
    margin-top: 6px;
    font-size: 0.83em;
    color: #34998a;
    cursor: text;
}

.jobs__paging {
    margin-top: 5px;
    padding: 15px 0;
    text-align: center;
}

.jobs__paging__page {
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
    color: #EEE;
}

.jobs__paging__page:hover {
    color: #169b87;
}

.jobs__paging__page.disabled {
    color: #BBB;
}

.jobs__paging__page__svg {
    width: 30px;
    height: 32px;
}
