@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --border-radius: 4px;
    --shadow: 0 0 4px hsla(0, 0%, 40%, 0.5);
    --shadow-hover: 0 0 6px hsla(0, 0%, 40%, 0.5);
}

body {
    background: repeating-linear-gradient(
            75deg,
            hsl(216, 52%, 15%) 0px,
            hsl(216, 53%, 14%) 150px,
            hsl(216, 53%, 12%) 550px
    );
    font-family: 'Nunito', "Noto Sans", Tahoma, sans-serif;
    font-size: 0.9em;
    min-height: 100vh;
    margin: 0;
    padding: 0 20px;
}

.header__title {
    margin: 6rem auto;
    color: white;
    text-align: center;
    text-shadow: 0 0 2px #acacac77;
    font-size: 2.6em;
}

.jobs {
    margin: 0 auto;
    max-width: 700px;
    width: 90%;
}

/* Filters */

.filters {
    display: flex;
    gap: 20px 1rem;
    margin: 6rem 0 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

/* IT filter */

.it_filter {
    order: 2;
    position: relative;
    display: block;
    box-sizing: border-box;
    height: fit-content;
    flex: 1 1 120px;
    max-width: 300px;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    color: #222;
    background-color: #F9F9F9;
    text-decoration: none;
    font-size: 1.17em;
}

.it_filter:hover {
    background-color: hsl(0, 0%, 85%);
}

.it_filter__status {
    position: absolute;
    display: inline-block;
    right: 15.5px;
    top: 16px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: hsl(0, 0%, 60%);
}

.it_filter__status.active {
    background: hsl(171, 49%, 40%);
}

.it_filter__text {
    display: block;
    text-align: left;
}

/* Locations */

.location-menu {
    position: relative;
    width: 100%;
    flex: 1 1 250px;
    max-width: 300px;
    font-size: 1.17em;
}

.location__select {
    height: 23px;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: #F9F9F9;
    color: #222;
    cursor: pointer;
    border-bottom: #F9F9F9;
}

.location__select-active {
    display: inline-block;
}

.location__select-button {
    height: 23px;
    width: 15px;
    float: right;
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
}

.location__select-button.open {
    transform: rotate(90deg) scaleX(-1);
    transition: transform 0.2s ease-in-out;
}

.location__options {
    top: 70px;
    position: absolute;
    width: calc(100% - 20px);
    height: 0;
    max-height: 400px;
    padding: 0 10px;
    border-radius: var(--border-radius);
    background-color: #F9F9F9;
    box-shadow: var(--shadow);
    overflow-y: hidden;
    transition: padding 0.2s 0.2s, height 0.2s ease-in-out;
}

.location__options::-webkit-scrollbar {
    width: 10px;
}

.location__options::-webkit-scrollbar-track {
    background: hsl(0, 0%, 90%);
    border-radius: 2px;
}

.location__options::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 78%);
    border-radius: 2px;
}

.location__options::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}

.location__options.open {
    z-index: 10;
    height: 400px;
    padding: 10px 10px;
    overflow-y: auto;
    transition: height 0.2s ease-in-out;
}

.location__options__option {
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.location__options__option:hover {
    background-color: #ebebeb;
}

.location__options__option.active {
    margin: 1px 0;
    background-color: #ebebeb;
    pointer-events: none;
}

.location__options__option__link {
    display: block;
    width: 100%;
    color: #222;
    text-decoration: none;
}

/* Error */

.error {
    margin-top: 3rem;
    color: hsl(0, 75%, 58%);
    font-size: 1.17em;
    text-align: center;
}

/* Jobs */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.job {
    box-sizing: border-box;
    width: 100%;
    margin: 24px auto;
    padding: 16px 22px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    background-color: #F9F9F9;
    color: #222;
    transition: 0.2s box-shadow ease-in-out, 0.15s width ease;
}

.job:last-of-type {
    margin: 0 auto;
}

.job:hover {
    width: calc(100% - 40px);
    transition: 0.2s box-shadow ease-in-out, 0.15s width ease;
    box-shadow: var(--shadow-hover);
}

.job__position {
    text-align: center;
    margin: 0;
    font-size: 1.08em;
    color: #404145;
}

.job__position > a {
    color: #222;
    text-decoration: none;
}

.job__position > a:hover {
    border-bottom: 1px solid black;
}

.job__info {
    text-align: center;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 1.05em;
}

.job__info__company {
    color: #31373d;
    cursor: text;
}

.job__info__details {
    margin-top: 8px;
    font-size: 0.83em;
    color: #34998a;
    cursor: text;
}

.jobs__paging {
    margin: 1.5rem 0 2rem;
    text-align: center;
}

.jobs__paging__page {
    display: inline-block;
    width: 40%;
    padding: 20px 0;
    max-width: 200px;
    text-decoration: none;
    color: #EEE;
}

.jobs__paging__page:hover {
    color: #169b87;
}

.jobs__paging__page.disabled {
    color: #BBB;
    pointer-events: none;
}

.jobs__paging__page__svg {
    width: 30px;
    height: 32px;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #F9F9F9;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 55%);
}
