body {
    background: repeating-linear-gradient(
            45deg,
            #142e55 0px,
            #11284b 150px,
            #11284b 550px
    );
    font-family: "Noto Sans", Tahoma, sans-serif;
    font-size: 0.9em;
    min-height: 100vh;
    margin: 0;
    padding: 0 20px;
}

.title {
    color: white;
    text-align: center;
    text-shadow: 0 0 2px #acacac77;
    font-size: 2.2em;
}

.jobs {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

.job {
    margin: 20px 0;
    padding: 12px 22px;
    border-radius: 8px;
    box-shadow: 0 0 4px #acacac77   ;
    background-color: #F9F9F9;
    color: #222;
    transition: 0.2s box-shadow ease-in-out;
}

.job:hover {
    transition: 0.2s box-shadow ease-in-out;
    box-shadow: 0 0 7px #acacac77;
}

.job__position {
    margin: 0;
    font-size: 1.08em;
    color: #0f517f;
}

.job__position > a {
    color: #222;
    text-decoration: none;
}

.job__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px;
    font-size: 1.05em;
}

.job__info__company {
    color: #31373d;
}

.job__info__details {
    text-align: right;
    font-size: 0.83em;
    color: #34998a;
}


.job__paging {
    text-align: center;
    padding-bottom: 15px;
}

.job__paging__page {
    text-decoration: none;
    color: #EEE;
}

.job__paging__page:hover {
    color: #169b87;
}

.job__paging__page.disabled {
    color: #BBB;
}